<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Loading...</h1>
    <script>
        let worker;

        if (window.Worker) {
            console.log('Worker is avaliable.');
            worker = new Worker('worker.js');
            console.log(worker);

            worker.postMessage('Loop');

            worker.addEventListener('message', function (e) {
                console.log(e.data);
                document.querySelector('h1').innerHTML = e.data.message;
                worker.terminate();
            });
        }
    </script>
</body>

</html>