<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apex Legends - Characters</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Apex legends characters">
    <link rel="stylesheet" href="../assets/stylesheet/characters.css">
    <link rel="stylesheet" href="../assets/stylesheet/reset.css">
    <link rel="shortcut icon" href="../icon.png">
</head>
<body class="container">
    <noscript>
        For full functionality of this site it is necessary to enable JavaScript.
        Here are the <a href="https://www.enable-javascript.com/">
        instructions how to enable JavaScript in your web browser</a>.
    </noscript>
    <div class="cube center" role="progressbar" aria-live="polite"></div>
    <div class="character-container hidden">
        <figure class="character-name-description-container">
            <img class="myCharacter " src="../assets/images/character/Bloodhound.png" alt="Bloodhound" >
            <figcaption class="status">
                <h3 class="name">Bloodhound</h3>
                <h6 class="title">Rastreadora Tecnológica</h6>
                <p class="description">Bloodhound é uma das maiores caçadoras que as Terras Ermas já viram, mas sua identidade é um mistério. Cercada de mistérios e muitos rumores, acreditam que seja uma pessoa incrivelmente rica, uma assassina sanguinária, uma controladora de Golias, ex-escrava, meia morcega e muitas outras coisas, dependendo de quem estiver falando.</p>
            </figcaption>
        </figure>
        <ul class="characters-list" role="tablist">
            <li class="character-list" role="tab"><img tabindex="1" class="character" src="../assets/images/character/1.png" alt="Bloodhound" ></li>
            <li class="character-list" role="tab"><img tabindex="2" class="character" src="../assets/images/character/2.png" alt="Wraith"></li>
            <li class="character-list" role="tab"><img tabindex="3" class="character" src="../assets/images/character/3.png" alt="Bangalore"></li>
            <li class="character-list" role="tab"><img tabindex="4" class="character" src="../assets/images/character/4.png" alt="Gibraltar"></li>
            <li class="character-list" role="tab"><img tabindex="5" class="character" src="../assets/images/character/5.png" alt="Lifeline"></li>
            <li class="character-list" role="tab"><img tabindex="6" class="character" src="../assets/images/character/6.png" alt="Pathfinder"></li>
        </ul>
    </div>
    <script src="../assets/javascript/characters.js"></script>
</body>
</html>