body {
    background-color: rgb(190, 188, 188);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.title {
    text-transform: uppercase;
    text-shadow: 1px 1px black;
}

.points {
    text-transform: uppercase;
    font-weight: bold;
}

.text {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    opacity: .5;
    transition: opacity .5s linear;
    cursor: pointer; 
}

.text:hover,
.text:focus {
    opacity: 1;
}
